

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-8">
            @await Component.InvokeAsync("uretimOperasyonBildirimleriList")
        </div>
        <div class="col-md-4">
            @await Component.InvokeAsync("StandartDuruslarList")
            <a href="" class="btn btn-success">Aksiyon Al</a>
        </div>
    </div>
</div>


