@using Entity.Concrete
@model List<StandardStances>

<h4>Standart Duruşlar</h4>
<table class="table table-bordered">


    <thead>

        <tr>
            <th>Başlangıç</th>
            <th>Bitiş</th>
            <th>Duruş Nedeni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Start.ToString("HH:mm")</td>
                <td>@item.Finish.ToString("HH:mm")</td>
                <td>@item.ReasonForStopping</td>

            </tr>
        }
    </tbody>
</table>
